* {
  margin: 0px;
  padding: 0px; }

body {
  overflow-x: hidden; }

@font-face {
  font-family: myfont;
  src: url("../fonts/glyphicons-halflings-regular.eot"), url("../fonts/glyphicons-halflings-regular.svg"), url("../fonts/glyphicons-halflings-regular.ttf"), url("../fonts/glyphicons-halflings-regular.woff"), url("../fonts/glyphicons-halflings-regular.woff2"); }
.nav-top {
  background-color: #8d8d8d;
  color: white; }
  .nav-top div div {
    height: 35px;
    line-height: 35px; }

.version-text a {
  display: inline-block;
  width: 45px;
  margin-left: 11px;
  color: white;
  text-align: center; }
.version-text a:hover {
  background-color: #d5d5d5; }

.inputs input {
  margin-top: 20px;
  margin-bottom: 20px; }

.sign-in {
  color: rgba(211, 211, 211, 0.96); }

.second-nav-top {
  margin-bottom: 0px; }

.second-nav ul li {
  width: 107px;
  text-align: center; }
.second-nav ul li:hover {
  background-color: #d5d5d5; }

.more-message {
  margin-bottom: 0px;
  margin-top: 0px; }
  .more-message li {
    line-height: 3.5; }
  .more-message a {
    color: white; }
  .more-message ul li a {
    color: white; }
  .more-message a:hover {
    background-color: #d5d5d5; }

.apply-for {
  background-color: #343434;
  height: 120px; }

.apply-for-text {
  color: white;
  margin-top: 10px; }
  .apply-for-text div p {
    color: #676767; }

.now-apply-for {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 35px;
  line-height: 35px;
  background-color: yellow; }

.free-demo {
  margin-top: 20px; }

.learn-english {
  color: #02a181; }

.data-distribution {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 2; }

.analyze {
  background-color: #02a181; }

.data-text {
  color: white; }

.toon {
  position: relative;
  z-index: 1;
  background: url("../image/bg.jpg") no-repeat;
  background-size: cover;
  margin-top: -90px;
  height: auto; }

.toon-text {
  color: white; }
  .toon-text span {
    color: yellow; }

.toon-person-text h4, .toon-person-text p {
  color: white; }

.teacher-one {
  min-height: 350px;
  background: url("../image/oleg.png") center no-repeat;
  background-size: cover;
  border-bottom: solid 5px #f6f792; }
  .teacher-one div {
    margin-right: 20px;
    color: white; }

.teacher-two {
  min-height: 350px;
  background: url("../image/oksana.png") no-repeat;
  background-size: cover;
  border-bottom: solid 5px #f6f792; }
  .teacher-two div {
    margin-left: 20px;
    color: white; }

.teacher-three {
  min-height: 200px;
  background: url("../image/ewelina.png") center no-repeat;
  background-size: cover;
  border-bottom: 5px solid #f6f792; }
  .teacher-three div {
    color: white;
    margin-right: 20px; }

.teacher-four {
  min-height: 200px;
  background: url("../image/juraj.png") center no-repeat;
  background-size: cover;
  border-bottom: 5px solid #f6f792; }
  .teacher-four div {
    color: white;
    margin-right: 20px; }

.teacher-five {
  display: block;
  min-height: 200px;
  line-height: 30px;
  padding-top: 45px;
  color: #fff;
  background-color: #eb7085;
  opacity: .75;
  border-bottom: 5px solid #f6f792;
  margin-top: 20px; }

.course-system {
  margin-top: 0px; }
  .course-system div:nth-of-type(2n+1) {
    background-color: #df6b88; }
  .course-system div:nth-of-type(2n) {
    background-color: #e68ea4; }
  .course-system div {
    padding: 0px;
    margin-top: -10px; }

.general-speaking {
  display: block;
  height: 100px; }
  .general-speaking h4 {
    line-height: 100px;
    color: white; }

.course-system2 {
  margin-top: 0px; }
  .course-system2 div:nth-of-type(2n+1) {
    background-color: #e68ea4; }
  .course-system2 div:nth-of-type(2n) {
    background-color: #df6b88; }

.power1 {
  background: url("../image/01.jpg") no-repeat;
  background-size: cover;
  min-height: 219px;
  border-bottom: 5px solid #f6f792; }

.power2 {
  background: url("../image/02.jpg") no-repeat;
  background-size: cover;
  min-height: 219px;
  border-bottom: 5px solid #f6f792; }

.power3 {
  background: url("../image/03.jpg") no-repeat;
  background-size: cover;
  min-height: 219px;
  border-bottom: 5px solid #f6f792; }

.power-text {
  color: #02a181; }

.teacher-pic {
  position: relative;
  z-index: 2; }

.teacher-pic-text {
  position: relative;
  z-index: 1;
  background-color: #02a181;
  margin-top: -100px; }
  .teacher-pic-text div div h3, .teacher-pic-text div div p {
    color: white; }

.zero {
  background: url("../image/bg2.jpg") no-repeat;
  background-size: cover; }

.zero-text {
  color: white; }

.see-world {
  background: url("../image/bg3.jpg") no-repeat;
  background-size: cover; }

.see-world-text {
  color: white;
  text-align: center;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.3); }

.img-width {
  width: 100%; }

.round {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #02a181;
  color: white;
  margin-top: -20px; }

.vip-sign {
  border: 1px dashed #02a181;
  margin-top: 30px; }

.honor {
  background: url("../image/bg.png") no-repeat;
  background-size: cover; }

.footer {
  background-color: #333333; }

.footer-text p {
  color: white; }

/*# sourceMappingURL=english-online.css.map */
